body {
    background-color: #eee;
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
}

.navbar .navbar-brand {
    height: 64px;
    line-height: 40px;
}

.navbar-brand>img {
    width: 200px;
    height: 64px;
    margin-left: -14px;
    margin-top: -15px;
}

.my-nav-pills>li>a {
    font-size: 16px;
    line-height: 64px;
    padding: 0 13px;
    border-bottom: 1px solid transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color: transparent!important;
}
.navbar-form{
	margin-top: 16px;
}




/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.bs-docs-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: #99979c;
  text-align: center;
  background-color: #2a2730;
}
.bs-docs-footer a {
  color: #fff;
}
.bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
.bs-docs-footer-links li {
  display: inline-block;
}
.bs-docs-footer-links li + li {
  margin-left: 15px;
}

@media (min-width: 768px) {
  .bs-docs-footer {
    text-align: left;
  }
  .bs-docs-footer p {
    margin-bottom: 0;
  }
}


/*label*/
label{
  font-weight: normal;
}

#content_main img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}


/*文章内容区域 s */
#content .topic_header{
  background-color: #fff;
}
#content .topic_full_title{
      font-size: 22px;
    font-weight: 700;
    margin: 8px 0;
    display: inline-block;
    vertical-align: bottom;
    width: 75%;
    line-height: 130%;
}
#content .changes {
    font-size: 12px;
    color: #838383;
}
#content .changes span:before {
    content: "•";
}
#content .changes span:first-child:before {
    content: "";
}

/*:last-child {
    border-right: none;
}*/

/*文章内容区域 e */


/*回复区域 s */
.reply2_btn{
  cursor: pointer;
  color: #888;
}
.reply2_btn:hover{
  color: #555;
}
.pl_image_wrap{
  width: 30px;
  height: 30px;
  margin-right: 16px;
  float: left;
}
.pl_image_wrap img{
  width: 100%;
  height: 100%;
}
.pl_input_wrap{
  margin-left: 50px;
  position: relative;
}

.pl_input_wrap textarea{
  width: 100%;
  line-height: 25px;
  resize: none;
}

.pl_image_wrap_main{
  width:45px;
  height: 45px;
  float: left;
}
.pl_wrap{
  overflow: hidden;
  display: none;
}

.pl_wrap_main{
  overflow: hidden;
}