li{
    list-style: none;
}
.navbar-default{
    margin-bottom: 0;
}
.btn-logout{
    cursor: pointer;
}
.page-header{
    margin: 20px 0 20px;
    font-size: 28px;
    color: #666;
}
.page-header-right{
    float: right;
    margin-top: -63px;
}
.navbar-top-links{
    margin-right: 0;
}



/*文本编辑*/
.cate-select {
  width: 188px;
  float: left;
  margin-right: 10px; 
}


.search-wrap {
    margin-bottom: 20px;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}



/*分页 s */
.page-count {
    margin-left: 10px;
    line-height: 32px;
    vertical-align: top;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    margin: 0 4px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: none; 
}
/*分页 e */
